@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

* { margin: 0; padding: 0; }
body { background-color: #def; }
canvas
{
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 8px #000;
}
img
{
    background-color: #fff;
    border-radius: 10px;
    margin: 3px;
}
.btn
{
    position: absolute;
    font-size: 100px;
    color: white;
    text-shadow: 0px 0px 10px #000;
    cursor: pointer;
}
.btn:hover
{
    text-shadow: 0px 0px 15px #000;
}
a
{
    text-decoration: none;
    border: 0;
}
#timer
{
    position: absolute;
    font-size: 20px;
    padding: 20px;
    display: none;
    font-family: 'Share Tech Mono';
}
#sample
{
    display: none;
}